:root {
    --colour-yellow: #fed00c;
    --colour-yellow-muted: #ffe269;
}

body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

main {
    margin-bottom: 100px
}

.container {
    width: auto;
    padding: 60px 15px 0;
}

.row > * {
    margin-top: 20px;
}

footer {
    margin-top: 50px
}

.txtedit {
    display: none;
    width: 95%;
    height: 25px;
}

hr {
    height: 3px !important;
}

td.services, th.services {
    text-align: center;
}

nav.sidebar ul > li.nav-item {
    margin-bottom: 0.5rem !important;
}

.times .time-elapsed {
    display: inline-block;
    font-size: 144px;
    line-height: 108px;
    height: 115px;
}

.times .time-start-finish {
    display: inline-block;
    font-size: 72px;
    line-height: 56px;
    height: 60px;
}

a {
    text-decoration: none;
}

.table-sm > :not(caption) > * > * {
    padding-top: 0;
    padding-bottom: 0;
}
