:root {
    --colour-yellow: #fed00c;
    --colour-yellow-muted: #ffe269;
}

body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

main {
    margin-bottom: 100px
}

.container {
    width: auto;
    padding: 60px 15px 0;
}

.row > * {
    margin-top: 20px;
}

footer {
    margin-top: 50px
}

.txtedit {
    display: none;
    width: 95%;
    height: 25px;
}

hr {
    height: 3px !important;
}

td.services, th.services {
    text-align: center;
}

nav.sidebar ul > li.nav-item {
    margin-bottom: 0.5rem !important;
}

.times .time-elapsed {
    display: inline-block;
    font-size: 144px;
    line-height: 108px;
    height: 115px;
}

.times .time-start-finish {
    display: inline-block;
    font-size: 72px;
    line-height: 56px;
    height: 60px;
}

a {
    text-decoration: none;
}

.table-sm > :not(caption) > * > * {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-item.d-grid.mb-0 {
    margin-bottom: 0 !important;
}

.splash {
    cursor : pointer;
    position : fixed;
    top : 50%;
    left : 50%;
    height : 100%;
    width : 100%;
    transform : translate(-50%,-50%);
    background-color: rgba(0,0,0);
    transition : all ease-in-out 600ms;
    z-index: 5000;
}
.splash-header {
    height : 90%;
    color : white;
    font-size : 30px;
    display : flex;
    justify-content: center;
    align-items : center;
    text-align: center;
}
.splash-content {
    width: 500px;
}

.splash-header h1 {
    font-size: 10rem;
}
.splash-header h2 {
    font-size: 3rem;
}
