body {
    background-color: black;
    color: var(--colour-yellow);
    font-size: 2.5em;
    overflow: hidden;
    padding-top: 0;
}

table.result {
    width: 100%;
}

.table {
    color: var(--colour-yellow);
}

.table > tbody > tr > td,
.table > thead > tr > th {
    border-bottom: none;
}

tr.muted {
    color: var(--colour-yellow-muted);
}
tr.bolded {
    font-weight: 500;
}

.table > tbody {
    border-top: none !important;
    border-bottom: none;
}

.table > thead {
    background-color: var(--colour-yellow);
    color: black;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

h2 {
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 4rem;
}

.results.missing {
    text-align: center;
    margin-top: 3em;
    font-size: 4em
}

table.announcement {
    margin-top: 10px;
    margin-bottom: 10px
}

footer {
    margin-top: 0;
}
.fixed-bottom {
    background-color: #111111;
    padding-top: 0;
    padding-bottom: 0;
}
.fixed-bottom > .container {
    padding-top: 20px;
    padding-bottom: 0;
}
