:root {
    --colour-yellow: #fed00c;
    --colour-yellow-muted: #ffe269;
}

body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

main {
    margin-bottom: 100px
}

.container {
    width: auto;
    padding: 60px 15px 0;
}

.row > * {
    margin-top: 20px;
}

footer {
    margin-top: 50px
}

.txtedit {
    display: none;
    width: 95%;
    height: 25px;
}

hr {
    height: 3px !important;
}

td.services, th.services {
    text-align: center;
}