@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

tr.titles {
    color: white;
    background-color: grey;
}

td {
    font-size: 12px;
}

td.position, th.position {
    width: 2%;
}

td.number, th.number {
    width: 2%;
}

th.number {
    text-align: center;
}

td.number {
    text-align: right;
}

td.paddler, th.paddler {
    width: 40%;
}

td.club, th.club {
    width: 30%;
}

td.age, th.age {
    width: 5%;
    text-align: center;
}

td.gender, th.gender {
    width: 5%;
    text-align: center;
}

td.age .abbreviation {
    display: inline-block;
    width: 1em;
    text-align: center;
}

td.time, th.time {
    width: 5%;
}
th.time {
    text-align: center;
}
td.time {
    text-align: right;
}

td.adjustment, th.adjustment {
    width: 3%;
}
th.adjustment {
    text-align: center;
}
td.adjustment {
    text-align: right;
}

footer .type {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 24em;
    font-weight: bold;
}
