@page {
    size: A4 landscape;
    margin: 1cm 1cm 1cm 1cm;
    @bottom-right {
        content: counter(page) "/" counter(pages);
        font-size: 12px;
    }
}

footer, header {
    position: fixed;
    left: 0;
    right: 0;
    font-size: 12px;
}
footer {
    background-color: lightgray;
    color: black;
    bottom: 0cm;
    height: 1cm;
    padding: 0 0.5em 0 0.5em;
    display: flex;
    align-items: center;
}

footer .title {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.timestamp {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div.break {
    page-break-before: always;
}

h1 {
    font-size: 20px;

}

h2 {
    font-size: 16px;
}

table {
    width: 100%;
}

table.border {
    border-color: black;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-spacing: 0;
}

table.border td {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-spacing: 0px;
}

table.border th {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background-color: gray;
    color: white;
    font-size: 12px;
}

td {
    font-size: 14px;
    padding: 2px;
}

p {
    font-size: 14px;
}
