{% extends "base-fluid.j2" %}

{% block title %}Announcement Update{% endblock %}

{% block content %}

<h1>Announcement Update</h1>

<form method="post">
    <input type="hidden" id="announcement_id" name="announcement_id" value="{{ announcement.id }}">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group mb-3">
                <label for="text">Text</label>
                <input type="text" class="form-control" id="text" name="text" placeholder="Text"
                    value="{% if announcement.text %}{{ announcement.text }}{% endif %}">
            </div>
            <div>
                <label for="registered">Enabled</label>
                <input type="checkbox" {% if announcement.enabled %} checked{% endif %} style="float: right;"
                    id="enabled" name="enabled">
            </div>
            <hr class="my-4">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="submit" class="btn btn-danger" name="delete">Delete</button>
        </div>
    </div>
</form>

{% endblock %}

{% block sidebar %}
{% include 'sidebar-announcement.j2' %}
{% endblock %}
