{% extends "base.j2" %}

{% block title %}Member{% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block content %}
<h1>{{ member.name }}</h1>

<div class="row">
    <div class="col-sm-4">
        <h2>Time Trial Results</h2>

        <table id="results" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                <th>Date</th>
                <th>Time</th>
                </tr>
            </thead>
            <tbody>
        {% for result in member.time_trial_results %}
            <tr>
                <td>{{ result.time_trial.date }}</td>
                <td>{{ result.time }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'common/jquery-javascript.j2' %}
{% include 'common/datatables-javascript.j2' %}
<script type="text/javascript" class="init">
$(document).ready(function () {
	$('#results').DataTable({
        searching: false,
        paging: false,
        info: false
    });
});
</script>
{% endblock %}
