{% extends "base-fluid.j2" %}

{% block title %}Paddlers{% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block content %}

<h1>Validate Paddlers</h1>

<h2>Duplicate Names</h2>

<table class="table table-striped">
{% for first, second in duplicates %}
  <tr>
    <td><a href="{{ url_for('kanoe.paddler', paddler_id=first.id) }}" target="_blank">{{ first }}</a></td>
    <td><a href="{{ url_for('kanoe.paddler', paddler_id=second.id) }}" target="_blank">{{ second }}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block sidebar %}
{% include 'sidebar-paddlers.j2' %}
{% endblock %}

{% block scripts %}
{% include 'common/jquery-javascript.j2' %}
{% include 'common/datatables-javascript.j2' %}
<script type="text/javascript" class="init">
  $(document).ready(function () {
    $('#paddlers').DataTable({
      paging: true,
      searching: true,
      ordering: true,
      info: true
    });
  });
</script>
{% endblock %}
