{% extends "base.j2" %}

{% block title %}Allocate Race Numbers{% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block content %}
<h1>Allocate Race Numbers</h1>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-8">
            <table id="races" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Category</th>
                        <th class="text-center">Entries</th>
                        <th class="text-center">Numbers</th>
                        <th class="text-center">Excess</th>
                        <th class="text-center">Min</th>
                        <th class="text-center">Max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td class="align-middle">{{ category.label }}</td>
                        <td class="align-middle text-end" data-index="{{ loop.index }}">{{ category.count }}</td>
                        <td class="align-middle">
                            <input type="number" class="form-control number"
                                value="{{ (((category.count/20)|round(0, 'ceil'))*20)|int }}"
                                name="category_id_{{ category.id }}">
                        </td>
                        <td class="align-middle text-end excess"></td>
                        <td class="align-middle text-end">XXX</td>
                        <td class="align-middle text-end">YYY</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="d-grid">
                <p>Total numbers allocated: <span id="total"></span></p>
                <button type="submit" class="btn btn-primary">Allocate Numbers</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
{% include 'common/jquery-javascript.j2' %}
<script type="text/javascript" class="init">
$(document).ready(function () {
    var calculateValues = function () {
        let counter = 0;

        $(".number").each(function () {
            var parent = $(this).parent();
            var count = parent.prev().text();
            var index = parent.prev().attr("data-index");
            var allocated = Number($(this).val());
            var excess = allocated - count;
            excess -= (index == 1 ? 1 : 0);

            var min = (counter == 0 ? 1 : counter);
            var max = counter + allocated - 1;

            parent.next().text(excess);
            parent.next().next().text(min);
            parent.next().next().next().text(max);

            counter = max + 1;
        });

        var total = 0;
        $(".number").each(function () {
            total += +$(this).val();
        });
        $("#total").text(total);
    };

    calculateValues();                          // Initialise.
    $(".number").change(calculateValues);       // Recalculate on change
});
</script>
{% endblock %}
