<ul class="nav flex-column">
    <li class="nav-item d-grid mb-2">
        <a href="{{ url_for('kanoe.race_update') }}" class="btn btn-primary">Add a race</a>
    </li>
    <li class="nav-item d-grid mb-2">
        <a href="{{ url_for('kanoe.series_create') }}" class="btn btn-primary">Add a series</a>
    </li>
</ul>
