<h3>Race</h3>

<ul class="nav flex-column">
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_update', race_id=race.id) }}" class="btn btn-primary">Update
            Race</a>
    </li>
</ul>

<h3>Entries</h3>

<ul class="nav flex-column">
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.entry', race_id=race.id) }}" class="btn btn-primary">Add Entry</a>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_entry_bulk', race_id=race.id) }}" class="btn btn-primary">Add Entries</a>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_allocate_numbers', race_id=race.id) }}" class="btn btn-primary">Allocate Race
            Numbers</a>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_entries_export_xlsx', race_id=race.id) }}" class="btn btn-primary">Export
            XLSX</a>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_entries_export_pdf', race_id=race.id) }}" class="btn btn-primary">Export PDF</a>
    </li>
</ul>

<h3>Results</h3>

<ul class="nav flex-column">
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_results_capture', race_id=race.id) }}" class="btn btn-primary">Capture
            Results</a>
    </li>
    <li class="nav-item gap-2">
        <div class="btn-group dropend d-grid">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Display Results
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item d-grid gap-1"><a
                        href="{{ url_for('kanoe.race_results_scrolling', race_id=race.id, scrolling=1) }}" class="btn btn-primary"
                        target="_blank">Scrolling <i class="fa-solid fa-recycle"></i></a></li>
                <li class="nav-item d-grid mb-0"><a href="{{ url_for('kanoe.race_results_category', race_id=race.id) }}"
                        class="btn btn-primary" target="_blank">Category <i class="fa-solid fa-hand-pointer"></i></a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_results_validate', race_id=race.id) }}" class="btn btn-primary">Validate
            Results</a>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_results_export_csv', race_id=race.id) }}" class="btn btn-primary">Export CSV</a>
    </li>
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.race_results_export_pdf', race_id=race.id) }}" class="btn btn-primary">Export PDF</a>
    </li>
</ul>
