<ul class="nav flex-column">
    <li class="nav-item d-grid mb-2">
        {% if crew %}
        <a href="{{ url_for('kanoe.entry', entry_id=crew.entry.id) }}" class="btn btn-secondary">Go to Entry</a>
        {% else %}
        <a href="{{ url_for('kanoe.entry', entry_id=entry.id) }}" class="btn btn-secondary">Go to Entry</a>
        {% endif %}
    </li>
</ul>

{% if crew %}
<p>Entry ID: {{ crew.entry.id }}</p>
{% endif %}
