{% import 'common/colour.j2' as colour %}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'common/load-css.j2' %}
    {% block styles %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <header>
        {% include 'common/navbar.j2' %}
    </header>
    {% block preface %}
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    {% block epilogue %}
    {% endblock %}
    <footer>
        {% include 'common/footer.j2' %}
    </footer>

    {% include 'common/load-js.j2' %}
    {% block scripts %}
    {% endblock %}
</body>

</html>
