<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'common/load-css.j2' %}
    {% block styles %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="fixed-bottom">
        {% block footer %}
        {% endblock %}
    </footer>

    {% include 'common/load-js.j2' %}
    {% block scripts %}
    {% endblock %}
</body>

</html>