{% extends "base.j2" %}

{% block title %}Entries{% endblock %}

{% block content %}

<h1>Clubs</h1>

<table>
{% for club in clubs %}
    <tr>
        <td><a href="{{ url_for('kanoe.club', club_id=club.id) }}">{{ club.id }}</a></td>
        <td>{{ club.name }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
