{% extends "base-fluid.j2" %}
{% from "macros.j2" import find_value %}

{% block title %}Race Number{% endblock %}

{% block content %}
<h1>Race Number</h1>

{% if not entry.race_number %}
<p>No race number currently allocated.</p>
{% else %}
<p>Current race number: {{ entry.race_number }}</p>

<a href="{{ url_for('kanoe.number_deallocate', entry_id=entry.id) }}" class="btn btn-primary">Deallocate Race Number</a>
{% endif %}

<p>Choose a new race number.</p>

<div class="row">
  <div class="col-sm-6">
    <form method="post">
      <select class="form-select" class="form-control" id="number" name="number">
        {% for number in numbers %}
        <option value="{{ number.id }}" {% if entry.race_number==number %} selected{% endif %}>{{ number }}</option>
        {% endfor %}
      </select>
      <hr class="my-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block sidebar %}
{% include 'sidebar-entry.j2' %}
{% endblock %}