{% extends "base.j2" %}

{% block title %}Entry{% endblock %}

{% block content %}

<h1>Entry</h1>

<div class="row">
  <div class="col">
    <table>
      <tr>
        <th>Race:</th>
        <td><a href="{{ url_for('kanoe.race', race_id=entry.race.id) }}">{{ entry.race }}</a></td>
      </tr>
      <tr>
        <th>Division:</th>
        <td>{{ entry.division }}</td>
      </tr>
      <tr>
        <th>Category:</th>
        <td>{{ entry.category }}</td>
      </tr>
    </table>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Paddler</th>
            <th scope="col">Club</th>
            <th scope="col">Division</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for seat in entry.seats %}
          <tr>
            <td><a href="{{ url_for('kanoe.paddler', paddler_id=seat.paddler.id) }}">{{ seat.paddler.name }}</a></td>
            <td><a href="{{ url_for('kanoe.club', club_id=seat.club.id) }}">{{ seat.club.id }}</a></td>
            <td>{{ seat.paddler.division }}</td>
            <td><a href="{{ url_for('kanoe.entry_edit_seat', seat_id=seat.id) }}"><i class="fas fa-edit"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col">
    <form method="post">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="start">Start time</label>
          <input type="time" class="form-control" id="start" step="30">
        </div>
        <div class="form-group col-sm-6">
          <label for="start">Finish time</label>
          <input type="time" class="form-control" id="finish" step="1">
        </div>
        <hr class="my-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}