{% extends "base-fluid.j2" %}
{% from "macros.j2" import find_value %}

{% block title %}Entry{% endblock %}

{% block content %}

<h1>Entry</h1>

<div class="row">
  <div class="col-md-3">
    <form method="post">
      <div>
        <div class="mb-3">
          <label for="race">Race</label>
          <select class="form-select" class="form-control" id="race_id" name="race_id" {% if entry %} disabled{% endif
            %}>
            {% for race in races %}
            <option value="{{ race.id }}" {% if entry.race==race %} selected{% endif %}>{{ race }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="race">Category</label>
          <select class="form-select" class="form-control" id="category_id" name="category_id">
            {% for category in categories %}
            <option value="{{ category.id }}" {% if (entry.category==category) %} selected{% endif %}>{{ category }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="division">Division</label>
          <input type="number" class="form-control" disabled
            value="{{ find_value(request.form['division'], entry.division) }}">
        </div>
        <div class="mb-3">
          <label for="division">Race Number</label>
          <input type="number" class="form-control" disabled value="{{ entry.race_number }}">
        </div>
        <div class="mb-3">
          <label for="division">Team</label>
          <input type="text" class="form-control" disabled value="{{ entry.team if entry.team else '' }}">
        </div>
        <div>
          <label for="services">Services</label>
          <input type="checkbox" disabled{% if entry.services %} checked{% endif %} style="float: right;">
        </div>
        <div>
          <label for="registered">Registered</label>
          <input type="checkbox" disabled{% if entry.registered %} checked{% endif %} style="float: right;">
        </div>
      </div>
      <hr class="my-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-3 offset-md-2">
    <table style="width: 100%;">
      <tr>
        <th>Start Time:</th>
        <td style="text-align: right;">{% if entry.time_start %}{{ entry.time_start }}{% else %}--:--:--{% endif %}</td>
      </tr>
      <tr>
        <th>Finish Time:</th>
        <td style="text-align: right;">{% if entry.time_finish %}{{ entry.time_finish }}{% else %}--:--:--{% endif %}
        </td>
      </tr>
      <tr>
        <th>Elapsed Time:</th>
        <td style="text-align: right;">{% if entry.time %}{{ entry.time }}{% else %}--:--:--{% endif %}</td>
      </tr>
    </table>
    {% if entry.note %}
    <i class="fas fa-bell"></i> <strong>Note:</strong> {{ entry.note }}
    {% endif %}
  </div>
</div>

{% if entry %}
<h2 class="mt-2">Paddlers</h2>
<div class="row">
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Paddler</th>
            <th scope="col">Club</th>
            <th scope="col">Division</th>
            <th scope="col">Team</th>
            <th scope="col" class="services">Services</th>
            <th scope="col">Due</th>
            <th scope="col">Paid</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for crew in entry.crews %}
          <tr>
            <td><a href="{{ url_for('kanoe.paddler', paddler_id=crew.paddler.id) }}">{{ crew.paddler.name }}</a></td>
            <td><a href="{{ url_for('kanoe.club', club_id=crew.club.id) }}">{{ crew.club.id }}</a></td>
            <td>{{ crew.paddler.division }}</td>
            <td>{{ crew.team or "" }}</td>
            <td class="services">{% if crew.services %}<i class="fas fa-check"></i>{% endif %}</td>
            <td>{% if crew.due %}{{ "£ %.2f"|format(crew.due) }}{% endif %}</td>
            <td>{% if crew.paid %}{{ "£ %.2f"|format(crew.paid) }}{% endif %}</td>
            <td><a href="{{ url_for('kanoe.crew', crew_id=crew.id) }}"><i class="fas fa-edit"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <form method="post">
      <select class="form-select" class="form-control" id="paddler" name="paddler_id">
        {% for paddler in paddlers %}
        <option value="{{ paddler.id }}">{{ paddler }}</option>
        {% endfor %}
      </select>
      <hr class="my-4">
      <button type="submit" class="btn btn-primary">Add Paddler</button>
    </form>
  </div>
</div>

{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'sidebar-entry.j2' %}
{% endblock %}
