{% extends "base.j2" %}

{% block title %}Entry{% endblock %}

{% block content %}

<h1>Hello World!</h1>

<ul>
    <li>
        <a href="/time-trial">Time Trial Results</a>
    </li>
    <li>
        <a href="/race/1">Race Entries</a>
    </li>
</ul>

{% endblock %}