{% macro find_value(form, variable) -%}
{% if form %}{{ form }}{% else %}{% if variable and variable is not none %}{{ variable }}{% endif %}{%
endif %}
{%- endmacro -%}

{% macro race_card(race) -%}
<div class="h-30 p-3 mb-2 border rounded-3{% if race.past %} bg-dark-subtle{% endif %}">
    <h3><a href="{{ url_for('kanoe.race', race_id=race.id) }}">{{ race.name }}</a></h3>

    <table class="table table-sm table-borderless">
        <tr>
            <th>Date</th>
            <td style="text-align: right;">{{ race.date }}</td>
        </tr>
        <tr>
            <th>Series</th>
            <td style="text-align: right;">{{ race.series }}</td>
        </tr>
        <tr>
            <th>Entries</th>
            <td style="text-align: right;">{{ race.count_entries }}</td>
        </tr>
        <tr>
            <th>Paddlers</th>
            <td style="text-align: right;">{{ race.count_paddlers }}</td>
        </tr>
    </table>
</div>
{%- endmacro -%}

{% macro button_delete() -%}
<button type="submit" class="btn btn-danger" name="action" value="delete"><i class="fa fa-trash"></i> Delete</button>
{%- endmacro -%}
