{% extends "base.j2" %}
{% from "macros.j2" import find_value %}

{% block title %}Create/Update Race{% endblock %}

{% block content %}

<h1>{% if race %}Update{% else %}Create{% endif %} Race</h1>

<form method="post">
    <input type="hidden" id="race_id" name="race_id" value="{{ race.id }}">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                    value="{{ find_value(request.form['name'], race.name) }}">
            </div>
            <div class="form-group mb-3">
                <label for="date">Date</label>
                <input id="date" name="date" class="form-control" type="date"
                    value="{{ find_value(request.form['date'], race.date) }}">
            </div>
            <div class="form-group mb-3">
                <label>Series</label>
                <select class="form-select form-select" name="series">
                    {% for series in serieses %}
                    <option value="{{ series.id }}" {% if race and series.name==race.series.name %} selected{% endif %}>
                        {{
                        series.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label>Start (minimum)</label>
                <input type="text" class="form-control time" id="time_min_start" name="time_min_start"
                    placeholder="HH:MM:SS"
                    value="{{ find_value(request.form['time_min_start'], race.time_min_start) }}">
            </div>
            <div class="form-group mb-3">
                <label>Start (maximum)</label>
                <input type="text" class="form-control time" id="time_max_start" name="time_max_start"
                    placeholder="HH:MM:SS"
                    value="{{ find_value(request.form['time_max_start'], race.time_max_start) }}">
            </div>
            <div class="form-group mb-3">
                <label>Finish (minimum)</label>
                <input type="text" class="form-control time" id="time_min_finish" name="time_min_finish"
                    placeholder="HH:MM:SS"
                    value="{{ find_value(request.form['time_min_finish'], race.time_min_finish) }}">
            </div>
            <div class="form-group">
                <label>Finish (maximum)</label>
                <input type="text" class="form-control time" id="time_max_finish" name="time_max_finish"
                    placeholder="HH:MM:SS"
                    value="{{ find_value(request.form['time_max_finish'], race.time_max_finish) }}">
            </div>
            <hr class="my-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </div>
</form>

{% endblock %}