{% extends "base-fluid.j2" %}
{% from "macros.j2" import race_card %}

{% block title %}Races{% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block content %}

<h1>Races</h1>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% for race in races if race.future %}
            <div class="col-md-6">
                {{ race_card(race) }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            {% for race in races if race.past %}
            <div class="col-md-12">
                {{ race_card(race) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block sidebar %}
{% include 'sidebar-races.j2' %}
{% endblock %}
