{% extends "base.j2" %}

{% block title %}Entries{% endblock %}

{% block content %}

<h1>Entries</h1>

{% for entry in entries %}
Entry: <a href="{{ url_for('entry', race_id=race_id, entry_id=entry.id) }}">{{ entry.entry_number }}</a><br>
{% for seat in entry.seats %}
{{ seat }}<br>
{% endfor %}
{% endfor %}

{% endblock %}