{% extends "base-fluid.j2" %}

{% block title %}{{ race.name }} ({{ race.date }}){% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block content %}

<h1>{{ race.name }} ({{ race.date }})</h1>

<div class="d-grid gap-2">
    <a href="{{ url_for('kanoe.race_results_quick', race_id=race.id) }}" class="btn btn-primary" role="button">Capture Results</a>
    <a href="{{ url_for('kanoe.race_results_display', race_id=race.id) }}" class="btn btn-primary" role="button" target="_blank">Display Results</a>
    <a href="{{ url_for('kanoe.race_results_validate', race_id=race.id) }}" class="btn btn-primary" role="button">Validate Results</a>
    <a href="{{ url_for('kanoe.race_allocate_numbers', race_id=race.id) }}" class="btn btn-primary" role="button">Allocate Race Numbers</a>
</div>

<div class="row">
    <div class="col-sm-12">
        <table id="entries" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Entry #</th>
                    <th>Paddler(s)</th>
                    <th>Category</th>
                    <th>Division</th>
                    <th>Team</th>
                    <th>Race #</th>
                </tr>
            </thead>
            <tbody>
        {% for entry in entries %}
                <tr>
                    <td>{{ entry.entry_number }}</td>
                    <td><a href="{{ url_for('kanoe.entry', entry_id=entry.id) }}">{{ entry }}</a></td>
                    <td>{{ entry.category }}</td>
                    <td>{{ entry.division }}</td>
                    <td>{{ entry.team or "" }}</td>
                    <td>{{ entry.race_number or "" }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'common/jquery-javascript.j2' %}
{% include 'common/datatables-javascript.j2' %}
<script type="text/javascript" class="init">
$(document).ready(function () {
	var table = $('#entries').DataTable();
});
</script>
{% endblock %}