{% extends "base-fluid.j2" %}
{% from "macros.j2" import race_card %}

{% block title %}Races{% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block preface %}
<div class="splash">
    <div class="splash-header">
        <div>
            <h1>kanoe</h1>
            <h2>v. {{ version }}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Races</h1>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <!-- Future races. -->
            {% for race in races if race.future %}
            <div class="col-md-4">
                {{ race_card(race) }}
            </div>
            {% endfor %}
            <!-- Past races. -->
            {% for race in races if race.past %}
            <div class="col-md-4">
                {{ race_card(race) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include 'sidebar-races.j2' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" class="init">
    var splash = document.querySelector('.splash');

    splash.addEventListener('click',() => {
        splash.style.opacity = 0;
        setTimeout(() => {
            splash.classList.add('hidden');
        }, 500);
    })
</script>
{% endblock %}
