{% extends "base-minimal.j2" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/css/paginated-a4-landscape.css">
{% include 'common/load-css-font-awesome.j2' %}
{% endblock %}

{% block footer %}
<div style="width: 100%;">
    <div class="title">
        {{ race.name }} ({{ race.date }})
    </div>
    <div class="timestamp">
        {{ timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
    </div>
</div>
{% endblock %}

{% block content %}

{% for category, entries in categories.items() %}
<div class="break">
    <h1 style="text-align: center;">{{ race.name }} ({{ race.date }}) — {{ category }}</h1>

    <table class="border">
        <thead>
            <tr>
                <th style="text-align: center;" colspan="4">Crew</th>
                <th style="width: 9%; text-align: center;">Club</th>
                <th style="text-align: center;" colspan="2">Category</th>
                <th style="width: 4%; text-align: center;">#</th>
                <th style="width: 3%; text-align: center;"><i class="fas fa-check"></i></th>
                <th style="text-align: center;">Note</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td style="width: 15%;">
                    {{ entry.crews[0].paddler.last }}
                    {% if not entry.crews[0].paddler.registered %}<i class="fas fa-ticket"></i>{% endif %}
                </td>
                <td style="width: 13%;">
                    {{ entry.crews[0].paddler.first }}
                </td>
                <td style="width: 15%;">
                    {% if entry.crews[1] %}
                    {{ entry.crews[1].paddler.last }}
                    {% if not entry.crews[1].paddler.registered %}<i class="fas fa-ticket"></i>{% endif %}
                    {% endif %}
                </td>
                <td style="width: 13%;">
                    {% if entry.crews[1] %}{{ entry.crews[1].paddler.first }}{% endif %}
                </td>
                <td style="text-align: center;">{{ entry.clubs }}</td>
                <td style="width: 3%; text-align: center;">{{ entry.category.id }}</td>
                <td style="width: 13%; text-align: center;">{{ entry.category }}</td>
                <td style="text-align: center;">{{ entry.race_number }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}
