{% extends "base-fluid.j2" %}
{% from "macros.j2" import race_card %}

{% block title %}Series{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>Series</h1>

<ul>
    {% for race in series.races %}
    <li>{{ race }} {{ race.past }}</li>
    {% endfor %}
</ul>

{% for category, crews in categories.items() %}
<h2>{{ category }}</h2>
<ul>
    {% for crew, entries in crews.items() %}
    <li>{{ crew }} {{ entries|length }}</li>
    <ul>
        {% for entry in entries %}
        <li>{{ entry }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}

{% block sidebar %}
{% endblock %}
