{% extends "base-fluid.j2" %}
{% from "macros.j2" import race_card %}

{% block title %}Series{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>{{ series.name }} Series</h1>

{% for type, teams in types.items() %}
<h2>{{ type }} Teams</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table table-sm table-striped">
            <thead></thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ team[0] }}</td>
                    <td style="width: 20%; text-align: right;">{{ team[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

<h2>Services</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table table-sm table-striped">
            <thead></thead>
            <tbody>
                {% for set in services %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ set.name }}</td>
                    <td style="width: 20%; text-align: right;">{{ set.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for category, sets in categories.items() %}
<h2>{{ category }}</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table table-sm table-striped">
            <thead></thead>
            <tbody>
                {% for set in sets %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ set.name }}</td>
                    <td style="width: 20%; text-align: right;">{{ set.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block sidebar %}
{% include 'sidebar-series.j2' %}
{% endblock %}
