<ul class="nav flex-column">
    <li class="nav-item d-grid gap-2">
        <a href="{{ url_for('kanoe.series_results_export_pdf', series_id=series.id) }}" class="btn btn-primary">Export
            PDF</a>
    </li>
</ul>
