<ul class="nav flex-column">
    <li class="nav-item mb-2">
        <a href="{{ url_for('kanoe.paddler') }}" class="btn btn-primary" target="_blank">Add a Paddler</a>
    </li>
</ul>

<p>Paddler ID: {{ paddler.id }}</p>