{% extends "base.j2" %}
{% import "common/selector.j2" as selector %}

{% block title %}Teams{% endblock %}

{% block styles %}
{% include 'common/datatables-css.j2' %}
{% endblock %}

{% block content %}

<h1>Teams</h1>

<ul>
  <li><a href="{{ url_for('kanoe.team_create') }}">Add a team</a></li>
</ul>

<div class="row">
  <div class="col-sm-12">
    <table id="teams" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Series</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.series }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'common/jquery-javascript.j2' %}
{% include 'common/datatables-javascript.j2' %}
<script type="text/javascript" class="init">
  $(document).ready(function () {
    $('#teams').DataTable({
      paging: true,
      searching: true,
      ordering: true,
      info: true
    });
  });
</script>
{% endblock %}