{% extends "base-fluid.j2" %}
{% from "macros.j2" import find_value %}

{% block title %}Team{% endblock %}

{% block content %}

<h1>Team</h1>

Name: {{ team.name }}<br>
Type: {{ team.type }}<br>
Series: {{ team.series }}

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped table-sm">
      <tbody>
        <tr>
          <th>Crew</th>
          <th>Race</th>
          <th>Category</th>
          <th>Time</th>
        </tr>
        {% for entry in entries %}
        <tr>
          <td><a href="{{ url_for('kanoe.entry', entry_id=entry.id) }}">{{ entry }}</a></td>
          <td><a href="{{ url_for('kanoe.race', race_id=entry.race_id) }}">{{ entry.race.name }}</a></td>
          <td>{{ entry.category }}</td>
          <td>{{ entry.time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% include 'sidebar-team.j2' %}
{% endblock %}
