{% extends "base-fluid.j2" %}
{% from "macros.j2" import find_value %}

{% block title %}Team{% endblock %}

{% block content %}

<h1>Team</h1>

Name: {{ team.name }}<br>
Type: {{ team.type }}<br>
Series: {{ team.series }}

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Paddler</th>
          <th>Race</th>
          <th>Category</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for crew in team.crews %}
        <tr>
          <td><a href="{{ url_for('kanoe.paddler', paddler_id=crew.paddler_id) }}">{{ crew }}</a></td>
          <td><a href="{{ url_for('kanoe.race', race_id=crew.entry.race_id) }}">{{ crew.entry.race.name }}</a></td>
          <td>{{ crew.entry.category }}</td>
          <td>{{ crew.entry.time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block sidebar %}
{% include 'sidebar-team.j2' %}
{% endblock %}
