<!-- <script src="https://kit.fontawesome.com/42cd90a8e1.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap-5.1.3.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<!-- Copied from https://cdnjs.com/libraries/font-awesome/5.15.4. -->
<link rel="stylesheet" type="text/css" href="/css/font-awesome-all-5.15.4.min.css">