{% macro series(serieses) -%}
<label>Series</label>
<select class="form-select form-select" name="series">
    {% for series in serieses %}
    <option value="{{ series.id }}">{{ series.name }}</option>
    {% endfor %}
</select>
{%- endmacro -%}

{% macro team(teams, selected) -%}
<label for="team">Team</label>
<select class="form-select" class="form-control" id="team" name="team">
    <option></option>
    {% for team in teams %}
    <option value="{{ team.id }}" {% if selected==team %} selected{% endif %}>{{ team }}</option>
    {% endfor %}
</select>
{%- endmacro -%}
